#MainUL li ul li {
    display: none;
}

#MainUL li:hover ul li {
    display: block;
}

#MainUL li:hover ul li ul li {
    display: none;
}

#MainUL li ul li:hover ul li {
    display: block;
}

#MainUL li ul li:hover ul li ul li {
    display: none;
}

#MainUL li ul li ul li:hover ul li {
    display: block;
}